.main{
  width: 280px;
  margin: 0 auto;
}
.main input{
  width: 280px;
  line-height: 57px;
  background-color: #fff;
  outline: none;
  border: 0;
  border-bottom: 1px solid #ccc;
  text-indent: 10px;
}
